{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
	<h1 id="locations">Hello world</h1>
	<h1 id="locations">Hello world</h1>
	Test
</main>

<h1 class="title big">Test</h1>
<h2 class="big">Test</h2>
<p> </p>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}